<!-- BANNER SLIDER CAROUSEL -->
<section class="banner">
  <div id="banner-slider" class="element_row">
    <!-- slider one -->
    <div class="item ">
      <div class="bg-image-holder" style="background-image: url('/img/ethlaptop.jpg');">
        <div class="slider-caption container">
          <div class="caption-content">
            <h1 class="bold text-white" data-animation="customFadeInUp" data-delay="0.1s"> Track trades to calculate  <br> profits and losses</h1>
            <p class="text-white" data-animation="customFadeInUp" data-delay="0.4s">Supporting Ether plus 17 ERC-20 tokens</p>
              <% if current_user %>  
                <a target="_blank" href="/trades" class="btn btn-primary btn-default" data-animation="customFadeInUp" data-delay="0.4s">Enter Trades</a>
              <% else %>
                <a target="_blank" href="/signup" class="btn btn-primary btn-default" data-animation="customFadeInUp" data-delay="0.4s">Sign Up now</a>
              <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- slider two -->
    <div class="item">
      <div class="bg-image-holder" style="background-image: url('/img/ethcoin.jpg');">
        <div class="slider-caption container">
          <div class="caption-content ">
            <h1 class="bold" data-animation="customFadeInUp" data-delay="0.1s">Import your Ether wallets <br> </h1>
            <p class="" data-animation="customFadeInUp" data-delay="0.4s">Track your portfolio realtime</p>
              <% if current_user %>  
                <a target="_blank" href="/wallets" class="btn btn-primary btn-default" data-animation="customFadeInUp" data-delay="0.4s">Enter Wallets</a>
              <% else %>
                <a target="_blank" href="/signup" class="btn btn-primary btn-default" data-animation="customFadeInUp" data-delay="0.4s">Sign Up now</a>
              <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- slider three -->
    <div class="item">
      <div class="bg-image-holder" style="background-image: url('/img/ethalert.png');">
        <div class="slider-caption container">
          <div class="caption-content ">
            <h1 class="bold text-white" data-animation="customFadeInUp" data-delay="0.1s">Set up an alert system  <br> </h1>
            <p class="bold text-white" data-animation="customFadeInUp" data-delay="0.4s">Have real-time updates sent to your phone</p>
              <% if current_user %>  
                <a target="_blank" href="/alerts" class="btn btn-primary btn-default" data-animation="customFadeInUp" data-delay="0.4s">Add alerts</a>
              <% else %>
                <a target="_blank" href="/signup" class="btn btn-primary btn-default" data-animation="customFadeInUp" data-delay="0.4s">Sign Up now</a>
              <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- slider four -->
    <div class="item">
      <div class="bg-image-holder" style="background-image: url('/img/ethrainbow.jpg');">
        <div class="slider-caption container">
          <div class="caption-content caption-right">
            <h1 class="bold text-white" data-animation="customFadeInUp" data-delay="0.1s">View ERC-20 Prices <br> </h1>
            <p class="bold text-white" data-animation="customFadeInUp" data-delay="0.4s">Get real time prices for your favorite tokens</p>
              <% if current_user %>  
                <a target="_blank" href="/coins" class="btn btn-primary btn-default" data-animation="customFadeInUp" data-delay="0.4s">View coin prices</a>
              <% else %>
                <a target="_blank" href="/signup" class="btn btn-primary btn-default" data-animation="customFadeInUp" data-delay="0.4s">Sign Up now</a>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

