<%= form_tag "/wallets/#{@wallet.id}", method: :patch do %>

  <div>
    Address: <input type="text" name="address" placeholder="<%= @wallet.address %>">
  </div>
 
  <input type="submit" value="Update Address" >

  





<% end %>

