<br> <br> <br> <br>
<div id="app2">
<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="tables" class="element_single container">
  <div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card single-block">
      <div class="card-header" role="tab" id="headingOne">            
        <div class="display-single_element">
          <h3 style="margin: 30px 0">Your Wallets</h3>
            
            <button class="btn btn-primary " role="group" aria-label="Basic example" v-on:click="addWallet(newWallet)">Add Wallet:</button>
            <table class="table table-inverse">
            <input v-model="newWallet">
                <thead>
                  <tr>
                    <th>Wallet Address</th>
                    <th>Balance</th>
                    <th>Position Value</th>
                    <th>Edit/Delete</th>
                  </tr>
                </thead>
                <tbody v-for="address in addresses" v-on:click="toggleCoins(address)">
                  <tr>
                    <td>{{ address.address }}</td>
                    <td>{{ address.eth_balance.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') }} ETH</td>
                    <td>{{ "$" + address.eth_position_value.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') }}</td>
                    <td><button class="btn btn-primary btn-rounded" role="group" aria-label="Basic example" v-on:click="deleteWallet(address)">Delete</button></td>
                          
                  </tr>
                  <tr v-for="coin in address.coins.slice(0,-1)" v-if="address.seen">
                    <td></td>
                    <td>{{ coin.value.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') }} {{ coin.name }}</td>
                    <td>{{ "$" + coin.position_value.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') }} </td>

                  </tr>
                </tbody>
              </table>
        </div>
      </div> <!-- element-content ends -->
    </div>
  </div> <!-- element main container ends -->
</div> <!-- Grid wrapper ends -->

</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>



  