<br>
<br>
<br>
<br>

<h1 class="container">New Wallet</h1>
  <% if @errors %>
    <div id="error_explanation">
      <h2><%= pluralize(@wallet.errors.count, "Error") %> prohibited this trade from being entered</h2>
    <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    </div>
<% end %>


<%= form_tag "/wallets", method: :post do %>
  <div class="display-single_element text_input container">
      <form >
        <div class="form-group row">
          <label for="example-text-input" class="col-md-2 col-form-label">Wallet Address</label>
          <div class="col-md-4">
            <input class="form-control" Wallet Address: <input type="text" name="address" >
          </div>
        </div>

        <input class="btn btn-primary marginslol" type="submit" value="Add Wallet">
      </form>
    </div>
<% end %>
  


