<br> <br> <br> <br>
<div id="app2">
{{addresses[1]}}
<div class="btn-group" role="group" aria-label="Basic example">
                            <%= link_to "delete", "", method: :delete, class: "btn btn-primary btn-rounded" %></td> 
                            </div>

<button class="btn btn-primary btn-rounded" role="group" aria-label="Basic example">Hey</button>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>




  