.marginslol {
  margin-left: 3cm;
}

.rocinag img {

  display: block;
  margin: auto;
     position: relative;

    width:  282px;
    height: 282px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.ctnr-border {
  
  padding: 25px 25px 25px 25px;
  border: 2px solid #828384 !important;
}

.logotest img {
  width: auto !important;
  max-width: 350px !important;
}