.marginslol {
  margin-left: 3cm;
}

.rocinag img {
  height: 75%;
  width: 75%;
  display: block;
  margin: auto;
}

.ctnr-border {
  
  padding: 25px 25px 25px 25px;
  border: 2px solid #828384;
}

.logotest img {
  width: auto !important;
  max-width: 350px !important;
}