<h1>Welcome to Eth Coinmarketcap</h1>

<h2>App for Ethereum asset management and daytrading needs. Calculate trade profits or manage your portfolio</h2>

<% @cointest.each do |coin| %>
  <h3><%= coin.ticker %>: <%= coin.coin_price%></h3>
<% end %>










